.main{
    width: 600px;
    height: 650px;
    /* background-color: aqua; */
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
}
.main-header{
    width: 100%;
    height: 10%;
    background-color:green;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-header-par{
    font-size: 26px;
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.f1{
    display: flex;
    flex-direction: column;
}
label{
    display: block;
    margin-top: 20px;
}
span{
    display: block;
    margin-left: 30px;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sex{
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input[type="text"]{
    display: block;
    width: 90%;
    height: 30px;
    margin: 0 auto;
}
input[type="email"]{
    display: block;
    width: 90%;
    height: 30px;
    margin: 0 auto;
}
label[for="sex2"]{
    margin-left: 10px;
}
select[name="cources"]{
    display: block;
    width: 90%;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
label[for="arg"]{
    margin-left: 30px;
}
#argm{
    transform: translate(0px, -19px);
}
input[type="submit"]{
    display: block;
    width: 90%;
    height: 30px;
    margin: 0 auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: gray;
    border-radius: 10px;
    color: whitesmoke;
    transform: translate(0px, -20px);
    cursor: pointer;
}







/* Section of Profile */





.profile{
    width: 600px;
    height: 650px;
    margin: 0 auto;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    border: 2px solid gray;
}
.profile-header{
    width: 100%;
    height: 30%;
    background-color:green;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.profile-image{
    border-radius: 50%;
    width: 200px;
    height: 215px;
    margin: 0 auto;
    background-image: url(./images/man.jpg);
    transform: translate(0px, -100px);
}
.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0px, -100px);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.out>input[type="submit"]{
    transform: translate(0px, -40px);
}
.social-media{
    width: 100%;
    height: 10%;
    background-color:green;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.social-media>ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul>li>a>img{
    width: 30px;
    height: 30px;
    align-self: center;
}